.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    width: 100vw;
    height: 100vh;
    padding: 100px 0;
    background-color: #76bb99;
    box-sizing: border-box;
}

.columnWrapper {
    display: flex;
    column-gap: 10px;
}